<section>
    <div>
        <h2>Ng Template &amp; lifecycle hook test </h2>
        <div *ngIf = "visible;then evenClicked else oddClicked">
            this is ng-template test
        </div>
        <button (click)="toggleTemplate()">toggle template</button>
    </div>
    <br>
    <div>
        <h2>{{text | uppercase}} - trasformed with pipe</h2>
    </div>

</section>

<!-- templates -->

<template #oddClicked>
    <h2>number 1</h2>
    <p>works great!</p>
</template>

<template #evenClicked>
    <h2>Option 2</h2>
    <p>works fine!</p>
</template>




