<div class="container">
  <div class = "menu">
    <div class = "logo">
      <img src="assets/mate.png" alt="mate drink">
    </div>
    <nav>
      <ul>
        <li (mouseenter)="hover($event)" (mouseleave)="hover($event)" *ngFor="let link of links"><a routerLink="{{link[1]">{{link[0]}}</a></li>
      </ul>
    </nav>  
  </div>
  <div class = "content">
    <aside class = "left">
        <app-aside-left></app-aside-left>
      </aside>
    <section class = "view">
      <router-outlet></router-outlet>
    </section>
    <aside class = "right">
      <app-aside-right></app-aside-right>
    </aside>
  </div>
</div>


