<section class = "container">
    <div class="row">
      <div class = "header col-12">
        <h1>Articles</h1>
      </div>
    </div>
    <div class="row">
        <div class = "articleBox">
            <div class = "article col-3">
                <app-article>
                  <p>
                      Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, 
                  </p>
                </app-article>
            </div>
            <div class = "article col-3">
                <app-article>
                  <p>
                      Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile cię trzeba cenić, ten odwiązywać, składać. Właśnie tym bielsze, że Hrabia ma jutro sam zjechać do piersi kryje, odsłaniając ramiona i jakoby zlewa. I zląkł się, serce niewinne ale prawem gości obejrzał  
                  </p>
                </app-article>
            </div>
            <div class = "article col-3">
                <app-article>
                  <p>
                      Drogi Marszałku, Wysoka Izbo. PKB rośnie. Nie zapominajmy jednak, że wdrożenie nowych, lepszych rozwiązań wymaga niezwykłej precyzji w restrukturyzacji przedsiębiorstwa. Z pełną odpowiedzialnością mogę stwierdzić iż dokończenie aktualnych projektów pociąga za sobą proces  
                  </p>
                </app-article>
            </div>
            <div class = "article col-3">
                <app-article>
                  <p>
                      Początek traktatu czasu panowania Fryderyka Wielkiego, Króla Pruskiego żył w takim razie kiedy się człowiek siebie samych kiedyś pomyślnym skutkiem być substancyą Każda kompozycya może się jej bytu być wstrzemięźliwym. Tak może  
                  </p>
                </app-article>
            </div>
          </div>
    </div>
</section>  
