<section>
  <div>
    <button (click) = "toggle()">Click to toggle border on text below</button>
    <h2 [class.highlighted] = "isHigh">{{title}}</h2>
    <h2 [class.highlighted] = "isHigh" >{{description}}</h2>
    <div class = "formBox" [class.color] = "isit" (click) = "handleColor()">
      <app-form ></app-form>
    </div>
  </div>
  <div >
    <button [ngClass] = "{available:isAvailable, unavailable: !isAvailable}" 
    (click) = "test($event)">{{text3}}</button>
    <div class = "square" [ngClass] = "{available:isAvailable, unavailable: !isAvailable}" ></div>
  </div>
</section>