.color {
    border: 5px solid yellow;
}
.attr > p {
    display : inline;

}
.attr {
   background-color: #3c5070;
}
.highlighted {
    border: 5px solid black;
}

.endziKlass {
    background-color: #904387;
}
.endziKlass * {
    display: inline-block;
}
.unavailable {
    color: red;
    border: 3px solid red;
}
.available {
    color: green;
    border: 3px solid green;
}
.square {
    width: 50px;
    height: 50px;
    display: inline-block;
}
button {
    width: 200px;
    height: 60px;
}
.endziStajl{
    background-color: #3C745F
}